@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111010;
}

#root {
  color: #FAFAFA;
  max-width: 740px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #171717;
  /* font-family: 'MozillaHeadline'; */
  font-family: 'SpaceMono';
  /* letter-spacing: 0.03rem; */
}


@font-face {
    font-family: 'SpaceMono';
    src: url('/public/fonts/SpaceMono-Regular.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
  }


@font-face {
    font-family: 'MozillaHeadline';
    src: url('/public/fonts/MozillaHeadline-Regular.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MozillaHeadline';
    src: url('/public/fonts/MozillaHeadline-SemiBold.woff2') format('woff2');
    font-weight: 600; /* SemiBold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MozillaHeadline';
    src: url('/public/fonts/MozillaHeadline-Bold.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
  }


